### 本文件对应 cookdata.cn 第 5 章。

In [1]:
# 定义常量
PREFIX = './数据/'

In [2]:
# import 必要模块

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# 显示数据时显示所有列
pd.options.display.max_columns = 8

# 设置字体
plt.rcParams['font.sans-serif'] = ['Microsoft YaHei']
plt.rcParams['font.size'] = 10

In [3]:
# import 自己写的工具函数
import cookdata_util as cutil

In [4]:
# 导入第 1 部分的阶段性数据
data = pd.read_csv(PREFIX + 'data-1.csv')
data.describe()

,Han,age,card_age,cashAmt_mean,...,sex_2,CityId_1,CityId_2,CityId_3
count,47332.000000,47332.000000,47332.000000,47332.000000,...,47332.000000,47332.000000,47332.000000,47332.000000
mean,0.038431,35.553748,24.919589,1471.681773,...,0.436090,0.384264,0.408223,0.207513
std,0.192236,8.195206,17.024677,2892.266853,...,0.495904,0.486426,0.491510,0.405530
min,0.000000,19.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000
25%,0.000000,29.000000,12.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000
50%,0.000000,34.000000,22.000000,460.000000,...,0.000000,0.000000,0.000000,0.000000
75%,0.000000,41.000000,33.000000,1820.189122,...,1.000000,1.000000,1.000000,0.000000
max,1.000000,62.000000,86.000000,72633.333330,...,1.000000,1.000000,1.000000,1.000000

In [5]:
def fill_div_na_inf(series):
    series.replace(np.inf, np.nan, inplace=True)
    series.fillna(0, inplace=True)
    return series

In [6]:
# 年消费总额指标
data['trans_total'] = data.transCnt_mean * data.transAmt_mean

# 年取现总额指标
data['total_withdraw'] = data.cashCnt_mean * data.cashAmt_mean

# 平均每笔取现金额指标
data['avg_per_withdraw'] = fill_div_na_inf(data.cashTotalAmt / data.cashTotalCnt)

# 网上平均每笔消费额指标
data['avg_per_online_spend'] = fill_div_na_inf(data.onlineTransAmt / data.onlineTransCnt)

# 公共事业平均每笔缴费额指标
data['avg_per_public_spend'] = fill_div_na_inf(data.publicPayAmt / data.publicPayCnt)

# 不良记录指标
data['bad_record'] = data.inCourt + data.isDue + data.isCrime + data.isBlackList

# 只保留 6 位小数
data = data.round(6)

In [7]:
data.to_csv(PREFIX + 'data-2.csv', index=False)